In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],index=['cobra', 'viper', 'sidewinder'],columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [3]:
df.loc[['viper','sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [4]:
# 选中某个值（通过行索引和列索引）
df.loc['cobra','shield']

2

In [5]:
# 选中某几列和某一列
df.loc['cobra':'viper','max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [6]:
df.loc['cobra':'sidewinder','max_speed']

cobra         1
viper         4
sidewinder    7
Name: max_speed, dtype: int64

In [7]:
# 这里的TRUE和False代表是否选中这一行
df.loc[[False,False,True]]

            max_speed  shield
sidewinder          7       8

In [8]:
# 选取满足某些条件的行
df.loc[df.shield > 6]

            max_speed  shield
sidewinder          7       8

In [9]:
# 选取满足某些条件的行，以及制定的列的值
df.loc[df.shield > 6,['max_speed']]

            max_speed
sidewinder          7

In [10]:
# 选中指定列的值为指定值的所有行
df.loc[lambda df:df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [11]:
# 导入相关库
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [12]:
data_train = pd.read_csv('../../dataset/titanic/train.csv')

In [13]:
data_train.Age.value_counts().sort_index()

0.42     1
0.67     1
0.75     2
0.83     2
0.92     1
        ..
70.00    2
70.50    1
71.00    2
74.00    1
80.00    1
Name: Age, Length: 88, dtype: int64

In [18]:
data_train.loc[(data_train.Age <= 1),'Age'] = 1

In [19]:
data_train.Age.value_counts().sort_index()

1.0     14
2.0     10
3.0      6
4.0     10
5.0      4
        ..
70.0     2
70.5     1
71.0     2
74.0     1
80.0     1
Name: Age, Length: 83, dtype: int64