https://mp.weixin.qq.com/s?__biz=MzIzOTA0NDEwNA==&mid=2649611256&idx=1&sn=1665d7884bd4d7295a88b5178e565693&chksm=f129689fc65ee189fdcb06249539a7e99baf002a14ebc80d570a885ca3eed90119c221839773&scene=0&xtrack=1&key=7e847adb66d9dcc156bbd5bb63449657b2fccad952ae481f6e076678b7be9c13b6e33608755028db4614adaf981d4d6582b9daeb9446126ea5ed9c71d8f4c09fe24dc66db0a3d3985204caa773b97186&ascene=1&uin=MjA1MjAyODkxNg%3D%3D&devicetype=Windows+10&version=62070158&lang=zh_CN&exportkey=AfPFmWyOm6mM1YbgahvqZOI%3D&pass_ticket=uhfSNbIiNjMLSp8hkFTxTwHvPXCcu7bWsPBNdydbXiCI4OGZ4%2Fyxb0uO6mRcBSBV

In [1]:
# 导入相关库
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

In [2]:
data_train = pd.read_csv('../../dataset/titanic/train.csv')

In [3]:
data_train.loc[(data_train.Age<=1),'Age'] = 1

In [4]:
data = data_train.loc[:,['PassengerId','Age']]
data.head()

   PassengerId   Age
0            1  22.0
1            2  38.0
2            3  26.0
3            4  35.0
4            5  35.0

In [5]:
bins = [0, 12, 18, 30, 50, 70, 100]
data['Age_group'] = pd.cut(data['Age'],bins)
dummies_Age = pd.get_dummies(data['Age_group'],prefix='Age')
data = pd.concat([data,dummies_Age],axis=1)
data.head()

,PassengerId,Age,Age_group,"Age_(0, 12]","Age_(12, 18]","Age_(18, 30]","Age_(30, 50]","Age_(50, 70]","Age_(70, 100]"
0,1,22.0,"(18, 30]",0,0,1,0,0,0
1,2,38.0,"(30, 50]",0,0,0,1,0,0
2,3,26.0,"(18, 30]",0,0,1,0,0,0
3,4,35.0,"(30, 50]",0,0,0,1,0,0
4,5,35.0,"(30, 50]",0,0,0,1,0,0